<ul>
    <li>ID :
        <%= consumer.id%>
    </li>
    <li>Name :
        <%= consumer.name%>
    </li>
    <li>Location :
        <%= consumer.location%>
    </li>
    <li>Contact Number :
        <%= consumer.contactNumber%>
    </li>
    
</ul>
<button><a href="/consumers/delete/<%= consumer.id%>">delete</a></button>
<button><a href="/consumers/update/<%= consumer.id%>">update</a></button>
<button><a href="/consumers/">Home</a></button>