<%include ../partials/header %>

<div class="container">
  <h2>Booking</h2>
  <p>All the booking made</p>            
  <table class="table table-hover">
     <thead class="blue-grey lighten-4">
      <tr>
        <th>Booking ID</th>
        <th>Date of Booking</th>
        <th>Time of Booking</th>
        <th>Consumer ID</th>
        <th>Tailor ID</th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
     <%consumerBooking.forEach(function(Booking){%>
      <tr>
        <td><%= Booking.id%></td>
        <td><%= Booking.dateOfBooking%></td>
        <td><%= Booking.timeOfBooking%></td>
        <td><%= Booking.consumerId%></td>
        <td><%= Booking.tailorId%></td>
        <td><button><a href="/consumers/booking/update/<%= Booking.consumerId%>/<%= Booking.id%>">Update Booking</a></button></td>
        <td><button><a href="/consumers/booking/delete/<%= Booking.consumerId%>/<%= Booking.id%>">Delete  Booking</a></button></td>
        <td><button><a href="/consumers/<%= Booking.consumerId%>">More Info</a></button></td>
      </tr>
      <%})%>
    </tbody>
  </table>
</div>


    <%include ../partials/footer %>