<%include ../partials/header %>



   <div class="container">
    <%consumers.forEach(function(consumer){%>
      <div class="col-lg-3">
        <ul>
            <li>ID : <%= consumer.id%></li>
            <li>Name : <%= consumer.name%></li>
            <li>Location : <%= consumer.location%></li>
            <li>Contact Number : <%= consumer.contactNumber%></li>
            <button><a href="/consumers/checkin/<%= consumer.id%>">More Info</a></button>
        </ul>
        <%})%>
    

    </div>
    <form action="/consumers/signout" method="post">
        <input type="submit" value="Signout">
    </form>
    
</div>
<%include ../partials/footer %>